* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: "gilroy-bold";
  src: url('/fonts/gilroy-bold.otf');
}

body {
  background-color: black;
}

input {
  outline: none;
  font-size: 17px;
  padding-left: 8px;
}


/* button */

.chat--button--container--start {
  color: white;
  width: auto;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.chat--button--start {
  height: 80px;
  width: 80px;
}

.login--wrapper h1 {
  font-family: 'gilroy-bold';
  font-size: 22px;
}

.chat--button--container {
  color: white;
  width: 100%;
  position: fixed;
  right: 20px;
  bottom: 40px;
}

.chat--button {
  padding-top: 30px;
}

.message--number {
  min-height: 27px;
  min-width: 27px;
  background-color: #e75265;
  color: white;
  position: absolute;
  top: -7px;
  right: 7px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Merriweather', serif;
}


/* .chat--button--start--number--wrraper{
  align-self: end;
} */


/* login */

.logIn--main--container {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  /* animation: Slide_up 1.4s ease;
   animation: Slide_Down 1.4s ease;  */
}

.logIn--container {
  background-color: #f3f3f8;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 15px;
}

.login--wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #5b5770;
  margin-top: 25px;
}

.login--wrapper h1 {
  color: #4e4b5c;
}

.login--wrapper p {
  font-size: 17px;
  margin-top: 7px;
  font-size: 13pt;
}

.powered--by {
  font-size: 19pt;
  padding-top: 25px;
  padding-bottom: 20px;
}

.logIn--button--span {
  font-family: "gilroy-bold";
}

.line {
  margin-bottom: -13px;
  width: 14.4%;
  height: 5.5px;
  background-color: #a5a4bb;
  border-radius: 40px;
  margin-left: 43%;
}

.logIn--facebook--button--container, .logIn--google--button--container {
  width: 45%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e4e4e8;
  border-radius: 30px;
  box-shadow: 1px 1px #e4e4e9;
  margin-top: 25px;
}

.logIn--facebook--button {
  color: #5878b9;
  font-size: 26px;
}

.logIn--google--button {
  height: 23px;
  width: 24px;
}

.button--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* new group */

.new--group {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:60vh;
  transition: transform 0.4s ease;
  
}

.new--group--wrapper {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
}

.new--group--container {
  background-color: #f5f4fa;
  padding-bottom: 70px;
}

.new--group--header {
  height: 75px;
  background-image: linear-gradient(to right, #5f68d5, #c790df);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.new--group--header--icons {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.new--group--header--icons p {
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
}

.chat--button--menu {
  height: 12px;
  width: 20px;
  margin-top: 5px;
}

.chat--button--settings {
  height: 22px;
  width: 22px;
}

.new--group--main {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 295px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.new--group--main h3 {
  color: #494657;
  font-family: "gilroy-bold";
  font-size: 22px;
}

.new--group--main p {
  color: #a3a2a8;
  margin-top: 5px;
  margin-bottom: 17px;
  font-size: 17px;
}

.new--group--main--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new--group--icon--container {
  font-size: 25px;
  height: 65px;
  width: 65px;
  border: 1px solid #c5c4ce;
  background-color: #ffffff;
  border-radius: 50px;
  text-align: center;
}

.new--group--facebook--button {
  color: #273ba2;
  margin: 18px;
}

.new--group--plan--button {
  color: #2ea0d1;
  /* margin: 16px; */
  margin-top: 20px
}

.new--group--whatsapp--button {
  color: #91d988;
  margin: 18px;
}

.new--group--envelope--button {
  color: #58e2c2;
  font-size: 20px;
  margin: 21px;
}


/* inputchat */

.sent--input--plan--icon {
  height: 30px;
  width: 30px;
  background-image: linear-gradient(to right top, #b288dd, #7470d7);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  margin-right: 5%;
}


/* new group input */

.new--group--input--container {
  background-color: #eae8f2;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}

.new--group--input--container form {
  flex-grow: 1;
  margin-top: 27px;
  color: black;
}

.new--group--input {
  height: 30px;
  width: 89%;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 3px #dad9e3;
  margin-left: 5%;
}

.lines > hr {
  height: 1px;
  width: 6%;
  margin-top: 3px;
  background-color: #ffffff;
  margin-left: 46%;
  border-radius: 1px;
  opacity: 0.6;
}

.lines {
  margin-bottom: 10px;
}


/* chatpage */

.chat--page--container {
  height: 440px;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.4s ease;
}

.chat--page--header {
  height: 75px;
  background-image: linear-gradient(to right, #6068d5, #c790df);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat--page--message--container {
  max-height: 270px;
  background-color: #f5f4fa;
  width: 100%;
  overflow: scroll;
  padding-bottom: 70px;
}

.chat--button--close {
  height: 13px;
  width: 13px;
  margin-top: 3px;
}


/* friend message container */

.friend--message--container {
  justify-content: flex-end;
}

.friend--message--container, .my--message--container {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
}

.friend--message, .my--message {
  min-height: 60px;
  max-width: 80%;
  min-width: 260px;
  background-color: #ffffff;
  box-shadow: 1px 2px #e9e8ee;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border-radius: 13px;
}

.friend--message img, .my--message img {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.friend--message--text {
  margin-top: 10px;
  padding-left: 7px;
}

.friend--message--text h5 {
  color: #3090f7;
}


/* my message container */

.my--message {
  min-height: 55px;
  background-color: #8f87ea;
  height: fit-content;
}

.my--message img {
  margin: 5px 0;
}

.my--message--text {
  color: white;
  margin-top: 10px;
  padding-right: 7px;
}

.my--message--container {
  justify-content: flex-start;
  min-height: 70px;
}


/* chat group */

.chat--group {
  height: 80vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.4s ease;
}

.chat--group--container {
  background-color: #f5f4fa;
  height: 100vh;
  /* overflow: scroll; */
}

.bag--button {
  width: 100%;
  background-color: white;
}

.bag {
  height: 30%;
  width: 100%;
  overflow-y: scroll;
  background-color: #f5f4fa;
}

.all--about--bag--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  height: 50px;
}

.all--about--bag {
  padding-top: 4px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.all--about--bag p {
  display: inline-block;
  padding-left: 10px;
  font-weight: 700;
}

.all--about--bag--button {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  text-align: center;
  font-weight: bolder;
  color: white;
  padding: 4px;
  display: inline-block;
  font-family: "gilroy-bold";
  font-size: 24px;
}

.bag--button--align-right {
  color: #c0c0c0;
  padding-top: 14px;
  display: flex;
  width: 40px;
}

.admin .admin--text {
  font-size: 13px;
  color: #d4d3d8;
}

.participant--text {
  color: #6a6877;
  padding-top: 20px;
  padding-left: 18px;
  font-size: 12px;
  padding-bottom: 8px;
}


/* group */


/* .group--my--img{
  width:40px;
  height:40px;
  border-radius: 50px;
}
.all--about--bag--name{
 display: inline-block;
  padding-left:10px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px
}
.all--about--bag--name h1{
  font-size:16px;

} */

.groups--container--partipicants {
  display: grid;
  grid-template-columns: 60px auto 50px;
  grid-column-gap: 10px;
}

.group--my--img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.all--about--bag--img--container {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  padding-top: 4px
}

.all--about--bag--name {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.all--about--bag--name p {
  font-size: 16px;
  padding-top: 13px
}

.bag--button--align-right {
  grid-column-start: 3;
  grid-column-end: 4;
}

.groups--container {
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  margin-bottom: 1px;
  color: #757280;
}

.add--participants p {
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 16px;
  margin-top: 12px;
  color: #307afb;
  /* height:200px; */
}

.add--participants--button {
  height: 40px;
  width: 40px;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  background-color: #eae8f2;
  text-align: center;
  font-weight: bolder;
  color: #307afb;
  padding: 9px;
  font-size: 14px;
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  margin-top: 4px;
}

.add--participants {
  display: grid;
  grid-template-columns: 60px auto;
  grid-column-gap: 10px;
}

.group--chat--delete--group {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: white;
}

.delete--group--button {
  height: 40px;
  width: 40px;
  border: none;
  text-decoration: none;
  border-radius: 50px;
  background-color: #fc1243;
  text-align: center;
  font-weight: bolder;
  color: white;
  padding: 9px;
  font-size: 14px;
  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  margin-top: 15px;
  margin-left: 17px;
}

.delete--participants p {
  color: #fc1243;
  display: inline-block;
  padding-left: 10px;
}


/* new--friend--container */

.new--friend--container {
  height: 60vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.4s ease;
}

.new--friend--main {
  background-color: #f5f4fa;
  height: 100%;
}

.new--Friend--header--icons {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 17px;
}

.new--Friend--header--icons p {
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
}

.new--Friend--header--icons i {
  margin-top: 6px;
}


/* socialmedia */

.new--friend--page--facebook--button {
  color: #415ea9;
  font-size: 16px;
}

.new--friend--page--button {
  text-decoration: none;
  border: 1px solid #e8e7ec;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bolder;
  padding: 9px;
  display: inline-block;
}

.new--friend--page--telegram--button {
  color: #31a3d3;
  font-size: 18px;
}

.new--friend--page--whatsapp--button {
  color: #78cc6d;
  font-size: 18px;
}

.new--friend--page--email--button {
  color: #57e2c2;
  font-size: 17px;
}


/* shopping bag */

.shopping--bag--container {
  height: 70vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.4s ease;
}

.shopping--bag {
  display: flex;
}

.shopping--bag--header--img {
  margin-left: 20px;
  height: 50px;
  padding-top: 10px;
}

.shopping--bag--header-text {
  padding: 10px;
  color: white;
}

.shopping--bag--header-text p {
  font-size: 13px;
}

.shopping--bag--main {
  background-color: #f5f4fa;
  height: 100%;
  overflow: auto;
}


/* shopping bag item */

.shopping--bag--item--container {
  width: 100%;
  background-color: white;
  height: 95px;
  margin-bottom: 1px;
}

.shopping--bag--item--wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.shopping--bag--item--img img {
  width: 70px;
  height: 75px;
}

.shopping--bag--item--img {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.shopping--bag--item--img p {
  margin-top: 20px;
  padding-left: 18px;
  font-size: 15px;
}

.shopping--bag--price {
  /* width: 90px; */
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Slabo 27px', serif;
  font-family: 'Quicksand', sans-serif;
}

.shopping--bag--price p {
  font-size: 18px;
}

.shopping--bag--price span {
  font-size: 10px;
}

.first--price {
  display: flex;
  justify-content: flex-end
}

.old--price {
  display: flex;
  justify-content: flex-end
}

.shopping--bag--price .old--price {
  color: #b1b0b7;
}

.price-line {
  width: 50px;
  height: 25px;
  background: linear-gradient(45deg, #ffffff 49%, #aaa 55%, #ffffff 51%);
}


/* settings */

.setting--container {
  height: 63vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(to bottom right, #5d68d5, #aa80cd);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.setting--img {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 150px;
  margin: auto;
  margin-top: -50px;
}

.setting--img img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 8px solid #6c6dd7;
}

.fname, .lname {
  width: 40%;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  margin: 0 auto;
}

.input--container {
  height: 93vh;
  overflow: scroll;
  margin-bottom: 15%;
}

.setting--inputs input, label {
  color: white;
  /* margin-left: 7%; */
  font-size: 14px;
  margin: 0 5%;
}

.setting--inputs input {
  margin-top: 5px;
  margin-bottom: 20px;
  box-shadow: 0 -7px 5px -7px #b1aadc;
  height: 6vh;
  border-radius: 30px;
  color: #4d4b5b;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.setting--inputs label {
  color: #c8c2ed;
  padding-left: 4px;
}

.setting--inputs div {
  display: flex;
  width: 97%;
  margin-left: 2%;
  justify-content: space-between;
}

.email, .bday {
  width: 88%;
  margin: 0 auto;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.setting--submit--button {
  height: 150px;
  width: 150px;
  border-radius: 50px;
  bottom: 1%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  border: none;
  background-image: linear-gradient(to right bottom, #cbdc7f, #39baaf);
  /* shape-outside: polygon(5px 14px, 233px 20px, 246px 133px, 189px 167px, 308px 304px, 0px 306px) content-box; */
  shape-margin: 1rem;
  clip-path: circle(25%);
}

.setting--submit--button input {
  background: url(./assets/nounCheckMark5938940000001.png) no-repeat;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: none;
  margin-left: 65px;
  margin-top: 65px;
  outline: none;
}


/* bottom navbar  /settings/*/

.bottom--navbar--container {
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  background-image: url(/img/navigationb.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom--navbar--icons--wrapper {
  width: 37%;
  display: flex;
  justify-content: space-between;
}

.bottom--navbar--icons--wrapper--right {
  width: 37%;
  display: flex;
  justify-content: space-between;
}

.admin--page--submit--button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  bottom: 42px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 20px 15px -2px #a6a2dc;
  background-image: linear-gradient(135deg, rgb(90, 99, 216), rgb(205, 144, 225));
  text-align: center
}

.admin--page--submit--button input {
  background: url(./assets/group2Copy.png) no-repeat;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: none;
  margin-left: 10px;
  margin-top: 15px;
}

.admin--page--footer--text {
  height: 70px;
  width: 120px;
  border-radius: 50px;
  bottom: 40px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  bottom: 60px;
  display: flex;
  text-align: center;
  background-color: #fdfcfe;
}

.admin--page--footer--text p {
  color: #bebdc4;
  font-size: 14px;
  margin-right: 5px;
  position: absolute;
  top: -6px;
  left: 10px;
}

.admin--page--footer--text img {
  height: 41px;
}

.setting--bottom--icons {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.setting--bottom--icons button {
  text-decoration: none;
  border: none;
  background-color: white;
  outline: none;
}

.close--button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.close--button--wrapper {
  position: relative;
  height: 95vh;
  width: 100%;
}


/* admin PAge */

.admin--page--container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.admin--page--container header {
  background-color: #f5f4fa;
  padding-bottom: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.admin--page--img {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  position: relative
}

.admin--page--img img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 5px solid #f5f4fa;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
}

.admin--page--line {
  margin-top: -65px;
  width: 65px;
  height: 5.5px;
  background-color: #a5a4bb;
  border-radius: 40px;
  margin-left: 43%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
}

.admin--page--header--text {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin: 0 auto;
  color: #4c495a;
  font-family: "gilroy-bold";
}

footer {
  background-color: white;
  padding-top: 50px;
}

.admin--page--header--text--description {
  text-align: center;
  color: #636077;
  font-family: 'Open Sans', sans-serif;
}

.admin--page--container main>h4 {
  color: #4c495a;
  margin: 5px auto;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-family: "gilroy-bold";
}

.admin--page--container main {
  height: 50vh;
  background-color: white;
}


/* admin page Small screen */


/* shopica chatt */

.shopiqa--chat--item--container {
  width: 93%;
  margin: 5px auto;
  background-color: #f5f4fa;
  padding: 16px 10px;
  border: 1px solid #e6e3f1;
  border-radius: 7px;
  margin-bottom: 1.2vh;
  display: flex;
}

.shopiqa--item {
  overflow-y: scroll;
  min-height: 22vh;
  max-height: 30vh;
  width: 100%;
}

.shopiqa--chat--item--text {
  margin-left: 10px;
  color: #686574;
}

.shopiqa--chat--item--text:first-child {
  font-family: "gilroy-bold";
  color: #474455;
}

@media only screen and (max-width: 350px) {
  .admin--page--header--text--description p {
    font-size: 13px;
  }
  .shopiqa--item {
    overflow-y: scroll;
    min-height: 10vh;
    max-height: 16.5vh;
  }
  .admin--page--container main {
    height: 38vh
  }
  .shopiqa--chat--item--container {
    height: 70px;
    width: 90%;
    margin: 10px auto;
  }
  .admin--page--container header {
    padding-bottom: 10px;
  }
  .admin--page--container main>h4 {
    padding-top: 4px;
    padding-bottom: 0px;
  }
  .setting--container {
    height: 73vh;
  }
}


/* messages */

.messages--container {
  display: flex;
  flex-direction: column;
  width: 230px;
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: -1;
}

.friend--messages {
  min-height: 60px;
  width: fit-content;
  /* min-width: 100px; */
  background-color: #ffffff;
  box-shadow: 1px 2px #e9e8ee;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border-radius: 13px;
  margin-top: 10px;
}

.friend--messages img {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 7px;
}

.messages--text {
  margin-top: 20px;
  /* padding-left: 7px; */
  margin-right: 10px;
}


/* .messages--container {
  opacity: 0.5;
  filter: alpha(opacity=50);
} */

.messages--container> div:nth-child(1) {
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%);
}


/* bottom navbar settings */

.bottom--navbar--settings--container {
  height: 67px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-image: url(/img/navigationBarPurple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.setting--page--submit--button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  bottom: 42px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 20px 15px -2px #a6a2dc;
  background-image: linear-gradient(to right bottom, #cedd7f, #33bcb0);
  text-align: center;
}

.bottom--navbar--icons--wrapper {
  width: 37%;
  display: flex;
  justify-content: space-between;
}

.bottom--navbar--icons--wrapper--right {
  width: 37%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.setting--bottom--settings--icons {
  width: 85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.setting--bottom--settings--icons button {
  text-decoration: none;
  border: none;
  background-color: white;
  margin-top: 17px;
}

.setting--page--submit--button input {
  background: url(./assets/nounCheckMark5938940000001.png) no-repeat;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: none;
  margin-left: 10px;
  margin-top: 15px;
}

@keyframes Slide_up{
  0%{
    transform:translateY(100%)
  }
  100%{
    transform:translateY(0)
  }
}
@keyframes Slide_Down{
  0%{
    transform:translateY(0)
  }
  100%{
    transform:translateY(100%)
  }
}
.slide_up{
  animation: Slide_up 0.4s ease;
}
.slide_down{
  animation: Slide_Down 0.4s ease; 
}
@keyframes Slide_up_user{
  70%{
    transform:translateY(100%)
  }
  100%{
    transform:translateY(0)
  }
}
@keyframes Slide_Down_user{
  0%{
    transform:translateY(0)
  }
  100%{
    transform:translateY(100%)
  }
}
/* .Slide_up_user{
  animation: Slide_up_user 1.4s ease;
} */
.Slide_down_user{
  transition: transform 0.4s ease;
  transform:translateY(120%) 
}
.Slide_down_new_group{
  /* transition: transform 1s ease; */
  transform:translateY(140%) 
}